<div class="container">
  <div class="row">
    <h2 class="title">Todo Application</h2>
  </div>

  <div class="row">
    <form class="form-inline">
      <div class="form-row">
        <div class="col-md-5">
          <input type="text" name="title" [(ngModel)]="newTodo.title" class="form-control" placeholder="Todo title" autocomplete="off">
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="newTodo.date" placeholder="Completion Date"
                     name="dp" ngbDatepicker #d="ngbDatepicker" autocomplete="off">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="addTodo()">Add Todo</button>
        </div>
      </div>
    </form>
  </div>

  <table class="table" *ngIf="todos.length > 0">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>
          <i class="fa fa-check-circle" *ngIf="todo.complete"></i>
          <i class="fa fa-circle-o" *ngIf="!todo.complete"></i>
        </td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.date.year }}-{{ todo.date.month }}-{{ todo.date.day }}</td>
        <td *ngIf="!todo.complete">Not Complete</td>
        <td *ngIf="todo.complete">Complete</td>
        <td class="icons">
          <button class="btn btn-success" (click)="completeTodo(todo)" [disabled]="todo.complete">
            <i class="fa fa-check"></i>
          </button>
          <button class="btn btn-primary">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteTodo(todo)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>